<!doctype html>
<html>
<head>
    <title> My Demo Day</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1> My Travel App </h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        <a href="/booking" class="btn btn-default btn-sm">Book A Trip</a>
        <a href="/contacts" class="btn btn-default btn-sm">Contacts</a>
        <a href="/trips" class="btn btn-default btn-sm">Your Trips</a>
</div>

<div>
  <% for(let i = 0; i < trips.length; i++){ %>
<a href="/trips/<%= trips[i]._id%>"><%=trips[i].destination %> </a>
   <%} %>
</div>

<script src="main.js"></script>

</body>
</html>
